In [7]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series


r = float(raw_input("Enter Rate of Interest : "))
n = int(raw_input("Enter Period of Investment (No. of Years) : "))

data={'Year' :[] , 'Investment' :[] , 'Income' :[] , 'Net Flow' :[] , 'DF' :[] , 'PV' :[] }

print ("Enter Investment[space]Income Year Wise in each line : ")

for x in range(0,n+1):
    data["Year"].append(x)
    s = raw_input()
    mynums = map(int, s.split())
    data["Investment"].append(mynums[0])
    data["Income"].append(mynums[1])
    df = 1/(1+r)**x
    nf = (mynums[1]-mynums[0])
    pv = nf*df
    data["Net Flow"].append(nf)
    data["DF"].append(df)
    data["PV"].append(pv)

NPV=0

for y in range(0,n+1):
    NPV=NPV+data["PV"][y]


df = DataFrame(data)
df = df[['Year','Investment','Income','Net Flow','DF','PV']]


print "NPV is : ", NPV
IRR = round(np.irr(data["Net Flow"]), n)
print "IRR is : ", IRR*100 , "%"

df

Enter Rate of Interest : 0.1
Enter Period of Investment (No. of Years) : 5
Enter Investment[space]Income Year Wise in each line :
10000 0
0 2000
0 3000
0 4000
0 5000
0 1000
NPV is :  1338.76846465
IRR is :  14.974 %

   Year  Investment  Income  Net Flow        DF            PV
0     0       10000       0    -10000  1.000000 -10000.000000
1     1           0    2000      2000  0.909091   1818.181818
2     2           0    3000      3000  0.826446   2479.338843
3     3           0    4000      4000  0.751315   3005.259204
4     4           0    5000      5000  0.683013   3415.067277
5     5           0    1000      1000  0.620921    620.921323